### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
salary=int(input("Enter Your Salary : "))
if salary<=500000 and salary>0:
  In_hand_salary=salary - salary*0.1 -salary*0.05 - salary*0.03
  print("In hand salary : ",In_hand_salary)
  print("HRA : ",salary*0.1)
  print("DA : ",salary*0.05)
  print("PF :",salary*0.03)
elif salary>500000 and salary<=1000000:
  tax=0.1*salary
  In_hand_salary=salary - salary*0.1 -salary*0.05 - salary*0.03 - tax
  print("In hand salary : ",In_hand_salary)
  print("TAX : ",tax)
  print("HRA : ",salary*0.1)
  print("DA : ",salary*0.05)
  print("PF :",salary*0.03)
elif salary<=1500000 and salary>1000000:
  tax=0.2*salary
  In_hand_salary=salary - salary*0.1 -salary*0.05 - salary*0.03 - tax
  print("In hand salary : ",In_hand_salary)
  print("TAX : ",tax)
  print("HRA : ",salary*0.1)
  print("DA : ",salary*0.05)
  print("PF :",salary*0.03)
elif salary>1500000 and salary<=2000000:
  tax=0.25*salary
  In_hand_salary=salary - salary*0.1 -salary*0.05 - salary*0.03 - tax
  print("In hand salary : ",In_hand_salary)
  print("TAX : ",tax)
  print("HRA : ",salary*0.1)
  print("DA : ",salary*0.05)
  print("PF :",salary*0.03)
elif salary>2000000:
  tax=0.3*salary
  In_hand_salary=salary - salary*0.1 -salary*0.05 - salary*0.03 - tax
  print("In hand salary : ",In_hand_salary)
  print("TAX : ",tax)
  print("HRA : ",salary*0.1)
  print("DA : ",salary*0.05)
  print("PF :",salary*0.03)
else:
  print("Invalid Salary!! ")

Enter Your Salary : 150269845
In hand salary :  78140319.4
TAX :  45080953.5
HRA :  15026984.5
DA :  7513492.25
PF : 4508095.35

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a=int(input("Enter the 1st angle of the triangle :  "))
b=int(input("Enter the 2st angle of the triangle :  "))
c=int(input("Enter the 3st angle of the triangle :  "))
total_sum_angle=a+b+c
if total_sum_angle==180:
  print("the given angle can form a triangle.")
else:
  print("the given angle can't form a triangle.")

Enter the 1st angle of the triangle :  40
Enter the 2st angle of the triangle :  40
Enter the 3st angle of the triangle :  100
the given angle can form a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_p=int(input("Enter Cost price : "))
selling_p=int(input("Enter Selling price : "))

if cost_p<selling_p:
  profit=selling_p-cost_p
  print("Profit : ",profit)
elif cost_p>selling_p:
  loss= cost_p-selling_p
  print("Loss : ",loss)
elif cost_p==selling_p:

  print("No Profit and NoLoss")

Enter Cost price : 85
Enter Selling price : 1025
Profit :  940

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
while True:
    print("\n1. cm to ft")
    print("2. km to miles")
    print("3. USD to INR")
    print("4. Exit")
    choice = int(input("Enter your choice: "))

    if choice == 1:
        unit = float(input("Enter the length in cm: "))
        ft = unit / 30.48
        print("Length in feet =", round(ft, 2))

    elif choice == 2:
        unit = float(input("Enter distance in km: "))
        miles = unit * 0.621371
        print("Distance in miles =", round(miles, 2))

    elif choice == 3:
        unit = float(input("Enter amount in USD: "))
        INR = unit * 89
        print("INR =", round(INR, 2))

    elif choice == 4:
        print("Exiting the program. Goodbye!")
        break

    else:
        print("Invalid choice. Please enter a valid option (1-4).")

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice: 3
Enter amount in USD: 59
INR = 5251.0

1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice: 4
Exiting the program. Goodbye!

In [ ]:
while True:
    print("\n1. cm to ft")
    print("2. km to miles")
    print("3. USD to INR")
    print("4. Exit")
    choice = int(input("Enter your choice: "))

    if choice == 1:
        unit = float(input("Enter the length in cm: "))
        ft = unit / 30.48  # More accurate conversion
        print("Length in feet =", round(ft, 2))

    elif choice == 2:
        unit = float(input("Enter distance in km: "))
        miles = unit * 0.621371  # More accurate conversion
        print("Distance in miles =", round(miles, 2))

    elif choice == 3:
        unit = float(input("Enter amount in USD: "))
        INR = unit * 89  # You can update this rate as needed
        print("INR =", round(INR, 2))

    elif choice == 4:
        print("Exiting the program. Goodbye!")
        break

    else:
        print("Invalid choice. Please enter a valid option (1-4).")

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
# Fibonacci series up to n terms
n = int(input("Enter any number : "))

a, b = 0, 1
print("Fibonacci Series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

#logic build by suraj

print(" ")
n1 = 0
n2 = 1
# n = 10  # Number of terms

print(n1, end=" ")

for i in range(n - 1):
    print(n2, end=" ")
    n3 = n1 + n2
    n1 = n2
    n2 = n3

Enter any number : 15
Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here

num=int(input("enter the number : "))

fact = 1

for i in range(1,num+1):
  fact=fact*i
print(fact)

enter the number : 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

num=int(input("enter the number : "))
temp=num                                #we use temp for use in next loop
reversed_num=0
while num>0:
  digit=num%10
  reversed_num=(reversed_num*10)+digit
  num=num//10
print("Reversed number is ",reversed_num)

#using for loop ,
num=temp                              #here value of num is remain same , that have at starting time
num_digits=len(str(abs(num)))
reversed_num=0
print("value of num : ",num)
print("value of reversed number : ",reversed_num)
for i in range(num_digits):
  digit=num%10
  reversed_num=(reversed_num*10)+digit
  num=num//10
print("Reversed number is ",reversed_num)

enter the number : 1589
Reversed number is  9851
value of num :  1589
value of reversed number :  0
Reversed number is  9851

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
n = int(input("enter the value of n : "))
sum_result = 0
i = 1

while i <= n:
    if i % 5 != 0:  # Only add if not divisible by 5
        sum_result += i
    i += 1

print(sum_result)

enter the value of n : 6
16

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
n=1
while n!=0:
  n=int(input("Enter the number : "))

Enter the number : 1
Enter the number : 5
Enter the number : 5
Enter the number : 6
Enter the number : 8
Enter the number : 9
Enter the number : 10
Enter the number : 4157
Enter the number : 45
Enter the number : 7
Enter the number : 5
Enter the number : 4
Enter the number : 4
Enter the number : 0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
i=2000
count=0
print("number are which are divisble by 7 but not multiple of 5 : ",end=' ')
while i<=3200:

  if i%7==0 and i%5!=0:
    print(i,end=' ')
    count+=1

  i+=1
print()
print("total no. are present : ",count)

number are which are divisble by 7 but not multiple of 5 :  2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199
total no. are present :  138

In [6]:
L=[]
count=0
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    L.append(str(i))
    count+=1
print(L)
print("total no. of count : ",count)
print(",".join(L))

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']
total no. of count :  138
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [5]:
# Write code here
L=[]
for i in range(1000,3001):
  flag=True

  curr=i
  while curr>0:
    last=curr%10
    if last % 2 !=0:
      flag = False
      break
    curr = curr//10
  if flag:
    L.append(str(i))
print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [7]:
# Write code here
L=[]                      #empty list will create
for i in range(2424,3001):
  flag=True

  curr=i
  while curr>0:
    last=curr%10
    if last % 2 !=0:
      flag = False
      break
    curr = curr//10
  if flag == True:     # if flag: or if flag == True: both are same.
    L.append(str(i))
print(",".join(L))


# step 1:
# L = empty list
# i = 2424
# flag True
# curr = 2424

# Step 2: check curr value is grater than 0 or not , here curr is 2424 so ,it is correct
# we have to find last digit of curr
#  last = curr%10

#  if last digit is not divisible by 2 then it is odd number flag will be Flase
#  but here last digit is divisible by 2 so we small the curr value
#  curr = curr//10

#  so curr will become 242.
#   again we go for step 2 .
#   same process

#   and check curr and find the last digit of curr then check it is odd or even
#   this process will run until curr will not become 0. and we will find that 2424 is all digits are even.

# when we go for 2425 , the last digit 5 is a odd number so it go inside the if condition and flag will flase and breake the while loop. come to the for loop 2426.

2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [9]:
# Write code here
pos = [0,0]
while True:
  s= input("Enter the robot path : ")
  if s == '!':
    break
  direction = s.split()[0]
  step = int(s.split()[1])

  if direction == 'UP':
    pos[1] = pos[1] + step
  elif direction == 'DOWN':
    pos[1] = pos[1] - step
  elif direction == 'LEFT':
    pos[0] = pos[0] - step
  elif direction == 'RIGHT':
    pos[0] = pos[0] + step
  pass
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot path : UP 5
Enter the robot path : DOWN 5
Enter the robot path : RIGHT 5
Enter the robot path : LEFT 0
Enter the robot path : !
5.0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [12]:
# Write code here
num=int(input("Enter the number = "))
flag = True
for i in range(2,num):
  if num%i == 0:
    flag = False
    break
if flag:
  print("It is a prime number.")
else:
  print("it is not a prime number.")

Enter the number = 11
It is a prime number.

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here